# SRV
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# DB (SQLite)
DATABASE_URL="file:./dev.db"

# DC OAuth 2.0 (DC dev Portal)
DISCORD_CLIENT_ID="YOUR_DISCORD_CLIENT_ID"
DISCORD_CLIENT_SECRET="YOUR_DISCORD_CLIENT_SECRET"
DISCORD_REDIRECT_URI="http://localhost:3000/auth/discord/callback"

# JWT
JWT_SECRET="CHANGE_ME_TO_A_LONG_RANDOM_STRING"

# Admin {USER DC ID}
ADMIN_DISCORD_IDS="836512408524029953"